
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Exclude specific directories from rewriting
    RewriteRule ^(src/front/assets|css|scripts)/ - [L]

    # Rewrite all other URLs to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>

