.form {
 & #image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    & h3 {
        font-size: 1.2rem;
    }
    & img {
      width: 200px;
      height: 200px;
    }
 }
}