main {
  padding: 0 2rem;
}

#menu-page-header {
  position: relative;
  width: 100%;
  padding: 1rem 0;
  & #text-content {
    z-index: 10;
    position: absolute;
    top: 28%;
    left: 0;
    background-color: white;
    padding-left: 2rem;
    padding-right: 1rem;
    & h1 {
      font-size: 1.7rem;
    }
    & h2 {
      font-size: 1.4rem;
    }
  }
  & img {
    z-index: 0;
    width: 100%;
    object-fit: cover;
    height: 40vh;
  }
}

#advantages-section {
  margin: 1rem 0;
  text-align: center;
  & ul {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-items: center;
    gap: 2rem;
    & li {
      display: flex;
      flex-direction: column;
      width: 250px;
      text-align: center;
      align-items: center;
      gap: 0.5rem;
      & img {
        width: 24px;
        height: 24px;
      }
      & h4 {
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 500;
        font-style: italic;
      }
      & p {
        font-size: 1.125rem;
        line-height: 1.75rem;
      }
    }
  }
}

/* creating draggable styles */

.dragable {
  cursor: grab;
  user-select: none;
  overflow-x: auto;
  display: grid;
  width: 92vw;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  gap: 2rem;
  padding-bottom: 2rem;
  & img {
    -webkit-user-drag: none;
  }

  & .menu-list-item {
    width: 75vw;
  }
}

.menu-section {
  padding: 2rem 0;
  & h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  & .menu-list {
    & .menu-list-item {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      padding: 1rem 2rem;
      border: 1px solid var(--secondary-color);
      border-radius: 6px;
      & h3 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      & img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1;
      }
      & p {
        font-size: 1.2rem;
      }

      & footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        & .price-tag {
          display: inline-block;
          margin-left: 1rem;
          font-size: 2rem;
        }

        & .add-form {
          display: flex;
          align-items: center;
          gap: 2rem;
          justify-content: space-around;

          & .quantity-input {
            width: 50px;
          }
        }
      }
    }
  }
}

/* sm */
@media (min-width: 640px) {
  #menu-page-header {
    position: relative;
    width: 100%;
    padding: 1rem 0;
    & #text-content {
      padding: auto 0.5rem;
      & h1 {
        font-size: 2.5rem;
      }
      & h2 {
        font-size: 1.7rem;
      }
    }
    & img {
      height: 60vh;
    }
  }

  #advantages-section {
    & ul {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  .dragable {
    & .menu-list-item {
      width: 350px;
    }
  }

  .menu-section {
    & .menu-list {
      & .menu-list-item {
        & footer {
          & .add-form {
            & .quantity-input {
              width: 100px;
            }
          }
        }
      }
    }
  }
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 1024px) {
  #menu-page-header {
    & #text-content {
      padding-left: 7vw;
    }
    & img {
      height: 70vh;
    }
  }

  #advantages-section {
    & ul {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      & li:nth-last-child(1) {
        display: none;
      }
    }
  }
}
